/* Media Queries Below */ 


/* iPad reversed */ 

@media only screen and (max-width: 720px),(max-height: 566px) {
    .ipar > .inner {
        display: block;
    }
}

@media only screen and (max-width: 725px) and (max-height: 571px) and 
(min-width: 715px) and (min-height: 561px) {
    
    #read:before { content: 'on'; display: none; }

    .dev {
        display: none;
    }

    .selector {
    	background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con05 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }

}


/* iPad normal */ 

@media only screen and (max-width: 566px),(max-height: 720px) {
    .ipa > .inner {
        display: block;
    }
}

@media only screen and (max-width: 571px) and (max-height: 725px) and 
(min-width: 561px) and (min-height: 715px) {
    
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con01 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}



/* iPod 8 reverse */ 

@media only screen and (max-width: 700px),(max-height: 450px) {
    .ip8r > .inner {
        display: block;
    }
}

@media only screen and (max-width: 705px) and (max-height: 455px) and 
(min-width: 695px) and (min-height: 445px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con06 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}



/* iPod 8 normal */ 

@media only screen and (max-width: 450px),(max-height: 700px) {
    .ip8 > .inner {
        display: block;
    }
}

@media only screen and (max-width: 455px) and (max-height: 705px) and 
(min-width: 445px) and (min-height: 695px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con07 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}


/* iPod 5 reverse */ 

@media only screen and (max-width: 600px),(max-height: 400px) {
    .ip5r > .inner {
        display: block;
    }
}

@media only screen and (max-width: 605px) and (max-height: 405px) and 
(min-width: 595px) and (min-height: 395px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con08 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}



/* iPod 5 normal */ 

@media only screen and (max-width: 400px),(max-height: 600px) {
    .ip5 > .inner {
        display: block;
    }
}

@media only screen and (max-width: 405px) and (max-height: 605px) and 
(min-width: 395px) and (min-height: 595px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con10 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}


/* Screen Width #1 */

@media only screen and (max-width: 540px),(max-height: 340px) {
    .screen1 > .inner {
        display: block;
    }
}

@media only screen and (max-width: 545px) and (max-height: 345px) and 
(min-width: 535px) and (min-height: 335px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con09 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}


/* Screen Width #2 */

@media only screen and (max-width: 1060px),(max-height: 370px) {
    .screen2 > .inner {
        display: block;
    }
}

@media only screen and (max-width: 1065px) and (max-height: 375px) and 
(min-width: 1055px) and (min-height: 365px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con04 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}



/* Screen Width #3 */

@media only screen and (max-width: 1200px),(max-height: 500px) {
    .screen3 > .inner {
        display: block;
    }
}

@media only screen and (max-width: 1205px) and (max-height: 505px) and 
(min-width: 1195px) and (min-height: 495px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con03 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}




/* Screen Width #4 */

@media only screen and (max-width: 1000px),(max-height: 666px) {
    .screen4 > .inner {
        display: block;
    }
}

@media only screen and (max-width: 1005px) and (max-height: 671px) and 
(min-width: 995px) and (min-height: 661px) {
    .dev {
        display: none;
    }

    .selector {
        background-color: #fcfcff;
    }

    .inner {
        display: none;
    }

    .con02 {
        display: block;
    }

    .cover {
        display: none;
    }

    .dev {
        border-style: dashed;
        border-color: white;
    }
}




